@import url("https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Bubblegum+Sans&family=Bungee+Spice&display=swap");

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-around;
}

.title {
  color: #98fb98;
  font-size: 3vw;
  font-family: "Bubblegum Sans", sans-serif;
}
.inp {
  border: 2px solid transparent;
  width: 50%;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.inp:hover,
.inp:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}


#bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 10px;
  border-radius: 9px;
  margin : 0 8px;
  background: #d5f365;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
 }
 
 #bottone1:hover {
  box-shadow: 7px 5px 56px -14px #C3D900;
 }
 
 #bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #C3D900;
 }